name: Cross compile

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up
      uses: actions/setup-go@v4
      with:
        go-version: stable

    - name: Build
      run: .github/workflows/cross.sh
